.day-types {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 4vmin;
}


.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);

    row-gap: 1vmin;

    padding: 3vmin;

    height: auto;
}

